.loader_img {
  width: 30px;
  animation: spin .4s ease-in-out infinite;
  -webkit-animation: spin .4s ease-in-out infinite;

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
}