.category_banner {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 15px;
	width: 100%;
	background-repeat: no-repeat !important;
	background-position: right !important;
	background-size: contain !important;
	border-radius: 15px;

	@media screen and (max-width: 767px) {
		padding: 20px 15px;
	}

	&:nth-child(1) {
		background: var(--color-light-pink);

		.info {
			&::before {
				background: rgba(255, 235, 237, 0.6);
			}
		}
	}
	&:nth-child(2) {
		background: var(--color-light-orange);

		.info {
			&::before {
				background: rgba(254, 235, 229, 0.6);
			}
		}
	}
	&:nth-child(3) {
		background: var(--color-light-green);

		.info {
			&::before {
				background: rgba(238, 239, 235, 0.6);
			}
		}
	}

	.info {
		width: 100%;
		z-index: 2;

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			border-radius: 15px;
			content: "";
			z-index: -1;
		}

		h1 {
			display: -webkit-box;
			margin-bottom: 12px;
			font-size: 1.2em;
			font-weight: bold;
			text-transform: capitalize;
			width: 100%;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;

			@media screen and (max-width: 650px) {
				margin-bottom: 8px;
				font-size: 1em;
			}
		}

		h4 {
			display: -webkit-box;
			margin: 0;
			font-size: 0.9em;
			font-weight: 600;
			line-height: inherit;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.action {
			margin-top: 20px;

			a {
				text-decoration: none;
				font-size: 0.8em;
				font-weight: 600;
				color: var(--color-text);
				text-transform: uppercase;
				border-bottom: 2px solid var(--color-text);

				&:hover {
					font-weight: bold;
					color: var(--color-yellow);
					border-bottom: 2px solid var(--color-yellow);
				}
			}
		}
	}
}
