.sub_section_header {
	position: relative;
	margin-bottom: 17px;

	h4 {
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 1.4625em;
		color: var(--color-text);

		@media screen and (max-width: 767px) {
			font-size: 1.3em;
		}
	}

	hr {
		margin: 0;
		width: 70px;
		height: 5px;
		border: none;
		background: var(--color-yellow);
	}

	.close {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 27px;
		opacity: 1;
		cursor: pointer;
	}
}
