.no_records {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px 12px;
	min-height: 500px;

	img {
		width: 150px;
		margin-bottom: 30px;
	}

	p {
		margin: 0;
		font-size: 1.2em;
		font-weight: 600;
		color: var(--color-text);
	}
}
